
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
    line-height: 1.6;
}


header {
    background: #0077b6;
    padding: 1rem 0;
    border-radius: 50px;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 10px;
    background: #1a237e;
    color: #ffffff;
    padding: 25px 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 60px;
    transition: 0.3s ease;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    background: #023e8a;
}


.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.contact-container h1 {
    margin-bottom: 30px;
    color: #0077b6;
    font-size: 2.2rem;
}


.contact-card {
    background: #e0f7fa;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.contact-card h2 {
    margin-bottom: 10px;
    color: #0077b6;
}

.contact-card a {
    color: #023e8a;
    text-decoration: none;
    font-weight: 500;
}

.contact-card:hover {
    background: #b2ebf2;
}


footer {
    background: #1a237e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    border-radius: 100px;
    transition: 0.3s ease;   
}
footer:hover{
    transform: scale(1.03);
}