
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: #f5f7fa;
    color: #333;
}


header {
    background: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 10px;
    background: #1a237e;
    color: #ffffff;
    padding: 25px 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 60px;
    transition: 0.3s ease;
}
header h1:hover{
 transform: scale(1.03);
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: rgba(255,255,255,0.3);
}


.hero {
    text-align: center;
    margin: 30px 0;
}

.hero img {
    width: 70%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.course-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.course-card img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.course-card h2 {
    font-size: 1.3rem;
    color: #4a90e2;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.course-card ul {
    list-style: disc;
    padding-left: 20px;
    text-align: left;
}


footer {
    text-align: center;
    background: #4a90e2;
    color: white;
    padding: 15px 0;
background: #1a237e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    border-radius: 100px;
    transition: 0.3s ease;   
}
footer:hover{
    transform: scale(1.03);
}
