
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background: #f5f7fa;
    color: #333;
}


header {
    background: #4a90e2;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 10px;
    background: #1a237e;
    color: #ffffff;
    padding: 25px 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 60px;
    transition: 0.3s ease;
}
header h1:hover{
 transform: scale(1.03);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: rgba(255,255,255,0.3);
}


.feedback-form {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.feedback-form form {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.feedback-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4a90e2;
}

.feedback-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form select,
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.feedback-form .rating {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.feedback-form button {
    width: 100%;
    background: #4a90e2;
    color: white;
    font-size: 1rem;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
}

.feedback-form button:hover {
    background: #357ab7;
}


footer {
    background: #1a237e;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    border-radius: 100px;
    transition: 0.3s ease;   
}
footer:hover{
    transform: scale(1.03);
}
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}
